fastapi[standard]
uvicorn
pydantic
python-multipart
httpx
pillow
pytesseract
opencv-python-headless
numpy
openai-whisper
pydub
google-generativeai
python-dotenv
PyMuPDF
openvino
python-jose[cryptography]
pymongo
motor
email-validator
passlib
uuid
bcrypt==4.0.1
cloudinary
moviepy
-f https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio