fastapi
uvicorn
pydantic
python-multipart
jinja2
httpx
pillow
pytesseract
opencv-python
numpy
fitz
openai-whisper
pydub
google-generativeai
python-dotenv
PyMuPDF
openvino
python-jose[cryptography]
pymongo
motor
email-validator
passlib
uuid
bcrypt==4.0.1